/*:root {

    --color: black;

}

body {
    background-color: rgb(126, 201, 158);
}

.header h1 {
    color: var(--color);
    font-size: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-decoration: underline;

}

p {
    padding-left: 10%;
    padding-right: 10%;
    color: var(--color);
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-style: italic;
}

.btn {

    color: var(--color);
    font-size: 70px;
    background-color: rgb(192, 43, 43);
    border-radius: 10px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.button1 {
    display: flex;
    justify-content: center;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 2px solid rgb(24, 53, 24);
}*/

:root {

    --color: black;

}

body,
html {
    /*  height: 100%;*/
    background-color: rgb(13, 116, 156);

}

.outer-container {
    padding: 10px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: start;

}

.top-container {
    display: flex;
    height: 50px;



}

.middle-container {
    margin-top: 10%;
    /* display: flex;*/
    background-color: rgb(45, 148, 173);
    width: 50%;
    margin-left: 20%;
    /* max-height: 80%;*/
    margin-right: 20%;
    border: 5px solid rgb(20, 5, 75);
}

/*button {
    float: left;

    color: var(--color);
    font-size: 50px;
    background-color: rgb(192, 43, 43);
    border-radius: 10px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}*/

#timeLeft {
    padding-right: 70px;
    float: right;
    font-size: 30px;
    color: var(--color);
    font-weight: bold;

}

#lab1 {
    padding-left: 70%;

    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

/*.quiz-intro {

    /*  display: none;


}*/

#quizintro1 {
    display: contents;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

h1,
h2 {
    color: var(--color);
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration: underline;

}

.hide p {
    padding-left: 10%;
    padding-right: 10%;
    color: var(--color);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-style: italic;
}

#view-score-btn {
    color: var(--color);
    font-size: 40px;
    background-color: rgb(192, 43, 43);
    border-radius: 10px;

    font-family: 'Times New Roman', Times, serif;


}

.startcontainerbtn {
    display: flex;
    justify-content: center;
}

#quiz-start {
    color: var(--color);
    font-size: 40px;
    background-color: rgb(192, 43, 68);
    border-radius: 10px;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;

}

main {}


.questionanswer-container {

    display: flex;
    justify-content: space-between;

}

#quescont {
    /* display: contents;*/
    display: none;
}

.question-answer {
    display: none;
}

#questionanswer1 {
    color: var(--color);
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;


}

#ansbtnid {
    padding-left: 200px;
    color: var(--color);
    font-size: 40px;
    /*   background-color: rgb(192, 43, 68);*/
    border-radius: 10px;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}


li {
    list-style-type: none;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}



.question-answer button:hover {
    background-color: yellow;
}


::marker {
    display: none;
}

h2,
h3 {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

#inputlabel {
    color: var(--color);
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;


}

#inputtext {
    width: 200px;
    height: 50px;
    font-size: 40px;
}

#end-submit {

    font-size: 40px;
    background-color: rgb(192, 43, 68);
    border-radius: 10px;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    color: var(--color);
    align-items: center;
}

.quiz-end-screen {
    display: none;
    /*  display: contents;*/
}


.HighScores-screen {
    display: none;
    /* display: contents;*/
}

.rank {
    display: none;
    /*  display: contents;*/
}

#ranks {
    padding-left: 300px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;

}




.evaluate {
    display: flex;
    /* display: contents;*/
    display: none;

    align-items: center;

}

.evaluate::before {

    content: "";
    position: absolute;

    width: 3px;

    height: 60%;
    background: red;
    top: 50%;
    transform: rotate(90deg);

}

#right {
    font-size: medium;
    color: var(--color);
    padding-top: 50px;
    padding-left: 700px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

#worng {
    font-size: medium;
    color: var(--color);
    padding-top: 50px;
    padding-left: 700px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    justify-content: end;
}

.hide {
    display: none;

}

.hide1 {
    display: none;

}

.hide2 {
    display: none;

}

.hide3 {
    display: none;

}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
    .sample-img {
        background-color: #8ac4ff;
    }
}

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
    header {
        background: #772014;
    }
}